Package: com.6gr8.vibetokhd
Name: VibeTokHD
Version: 2.0
Architecture: iphoneos-arm
Description: HD photos + Auto Swipe/Click for VibeTok
Maintainer: 6gr8
Author: 6gr8
Section: Tweaks
Depends: mobilesubstrate